## Loading the CSV files from Cloud Storage

In [4]:
dataset_id = "weather_staging"

In [5]:
!bq --location=US mk --dataset {dataset_id}

BigQuery error in mk operation: Dataset 'uber-fair:weather_staging' already
exists.

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.weather \
'gs://uber_fair_data/dataset1/weather.csv'

Waiting on bqjob_r7653d25e8c96587a_0000016e707f927d_1 ... (1s) Current status: DONE

In [7]:
%%bigquery 
select count(*) from weather_staging.weather

    f0_
0  6276

## Creating modeled tables

In [9]:
modeled_dataset_id = "weather_modeled"

In [10]:
!bq --location=US mk --dataset {modeled_dataset_id}

Dataset 'uber-fair:weather_modeled' successfully created.

In [13]:
%%bigquery
create or replace table weather_modeled.weather as 
select temp, location, clouds, pressure, rain, time_stamp, humidity, wind, '' as id
from weather_staging.weather

Empty DataFrame
Columns: []
Index: []

In [14]:
%%bigquery
update weather_modeled.weather set id = GENERATE_UUID() where id = ''

Empty DataFrame
Columns: []
Index: []

In [15]:
%%bigquery
select * from weather_modeled.weather limit 10

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind,id
0,36.33,Boston University,0.0,1012.38,None,1543546374,0.68,6.70,d64d75db-87cd-452b-8bc7-6dcaf0a6db1e
1,36.35,Haymarket Square,0.0,1012.37,None,1543546374,0.68,6.87,b041d6c2-c850-4c42-a5f7-7a29020d8f44
2,36.38,North End,0.0,1012.37,None,1543546374,0.68,6.89,a962c95c-caf1-4aa7-bd16-47235ea56e65
3,36.89,Financial District,0.0,1012.38,None,1543546374,0.67,6.89,3463b2f2-6326-4237-bf17-df2301e16e83
4,36.24,Fenway,0.0,1012.38,None,1543546374,0.69,6.72,0533eb82-e9ac-43a5-beb5-7c1ce3cfd529
5,36.87,South Station,0.0,1012.38,None,1543546374,0.67,6.89,e44b7a38-d203-4384-bdf4-bd5c1cedbf6f
6,36.25,Northeastern University,0.0,1012.38,None,1543546374,0.69,6.77,16e52eef-2db5-4b6f-9f71-fff9f477a4ef
7,36.36,Back Bay,0.0,1012.38,None,1543546374,0.68,6.79,f938e922-e3fc-4445-8c26-6ef7e527a65a
8,36.26,West End,0.0,1012.37,None,1543546374,0.69,6.84,e772e159-4a0e-46f5-9d6c-f21cc0bec08e
9,36.34,Beacon Hill,0.0,1012.38,None,1543546374,0.68,6.83,21ca67fe-d2db-4995-90fa-438edd92e7d1